@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelper
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <center>
            @*  html Tag *@
            @*  <a href="/Home/Index" class="btn btn-primary">Home</a>
            <a href="/Home/AboutUs" class="btn btn-primary">AboutUs</a>
            <a href="/Home/ContactUs" class="btn btn-primary">ContactUs</a>
            <a href="/Home/Privacy" class="btn btn-primary">Privacy</a> *@


            @* html helper *@
            @* @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("AboutUs", "AboutUs", "Home", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("ContactUs", "ContactUs", "Home", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "btn btn-primary" }) *@

            @* tag helper *@
           @*  <a asp-controller="Home" asp-action="Index" asp-class="btn btn-primary">Home</a>
            <a href="/Home/AboutUs" class="btn btn-primary">AboutUs</a>
            <a href="/Home/ContactUs" class="btn btn-primary">ContactUs</a>
            <a href="/Home/Privacy" class="btn btn-primary">Privacy</a> *@

        </center>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <center>
            Copyrights route Academy @DateTime.Now.Year
        </center>
    </footer>
</body>
</html>